h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
table,td,th{
    margin-top: 5em;
    margin-left:15em;
    margin-right:15em;
    border:1px solid black;
    border-collapse: collapse;
    background-color: #FDF7EE;
}
p{
    text-align: center;
    font-weight: bold;
}